@media screen and (max-width: 1200px) {
    .hero-content h1 {
        font-size: 3.5rem;
    }
    
    .nav-links {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    section {
        padding: 3rem 5%;
    }
    
    .hero-content h1 {
        font-size: 2.5rem;
    }
    
    .project-card {
        min-width: 250px;
    }
}
