/* Media Queries */

@media screen and (max-width: 1200px) {
  .hero-content h1 {
    font-size: 4.5rem;
  }
}

@media screen and (max-width: 800px) {
  nav {
    padding: 0 5%;
  }
  .nav-links {
    display: none;
  }
  .hero-content h1 {
    font-size: 3.5rem;
  }
  .hero-content p {
    font-size: 1.1rem;
  }
  .title {
    font-size: 2.5rem;
  }
  section {
    padding: 4rem 5% 1rem;
  }
}

@media screen and (max-width: 600px) {
  .hero-content h1 {
    font-size: 2.5rem;
  }
  .btn-container {
    flex-direction: column;
  }
  .project-card {
    min-width: 280px;
    height: 150px;
  }
  .skill-grid {
    grid-template-columns: 1fr;
  }
  .publication-row {
    grid-template-columns: 1fr;
  }
}
